* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: #042453;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-container {
  background: #ffffff;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #f9fafb;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.comment-text {
  margin-bottom: 8px;
  font-size: 14px;
}

.actions button {
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
}

.edit {
  background: #22c55e;
}

.delete {
  background: #ef4444;
}
